<header>
  
    <ul class="menu-items">
      <li class="red-circle"></li>
      <li class="yellow-circle"></li>
      <li class="green-circle"></li>
    </ul>
    
    <span>Tuyển dụng</span>
    
  </header>
  
  
  <!-- Main -->
  
  <main>
    
    <section class="left-sidebar">
      
        <ul>
            <li class="active">
              <img src="../../assets/facebook.png" alt="Flaticons" title="News Feed">
              <button style=" background: lightgreen;
              border: none;
              padding: 5px;
              width: 200px;
              border-radius: 30px;
              color: white;"><a routerLink="/newsfeed">Tin tức về ERP</a></button>
            </li>
            
            <li class="active">
              <img src="../../assets/facebook.png" alt="Flaticons" title="News Feed">
              <button style=" background: lightgreen;
              border: none;
              padding: 5px;
              width: 200px;

              border-radius: 30px;
              color: white;"><a routerLink="/insider"> Tin tức nội bộ</a></button>
            </li>
            
            <li>
              <img src="../../assets/call.png" alt="Flaticons" title="Messenger">
            <button style=" background: lightgreen;
            border: none;
            padding: 5px;
            width: 200px;

            border-radius: 30px;
            color: white;"><a routerLink="/requirment">Tuyển dụng</a></button>  
            </li>
          </ul>
      
    </section>
    
    
    <article class="news-feed">
      
        <div class="card">
          
          <div class="profile">
            <span class="profile-img"></span>
            
            <ul class="username">
              <li class="name"> BOM LÀ GÌ? KHÁI NIỆM BOM – BỘ ĐỊNH MỨC TRONG SẢN XUẤT</li>	
              <li class="time"> Các doanh nghiệp sản xuất, muốn quản trị hiệu quả việc sản xuất của mình cần xây dựng và phát triển và ứng dụng bộ định mức triệt để. Đặc biệt là việc ứng dụng hệ thống ERP vào doanh việc quản lý vận hành của mình, doanh nghiệp cần						 </li>
              <li><button style="    background: lightgreen;
                border: none;
                padding: 5px;
                border-radius: 30px;
                color: white;
            ">							Chi tiết →						</button></li>
            </ul>
          </div>
          
          
          <div class="card-img" style="background-image: url('../../../assets/A-300x225.jpg')" title="Unsplash Image">
  <!--           <img src="https://images.unsplash.com/photo-1558961363-fa8fdf82db35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80" alt="Unsplash"> -->
          </div>
          
          
          <div class="card-footer">
            <ul>
              <li>
                <span >morgen-gams</span>
              </li>
              </ul>
          </div>
          
        </div>
        <div class="card">
          
            <div class="profile">
              <span class="profile-img"></span>
              
              <ul class="username">
                <li class="name"> BOM LÀ GÌ? KHÁI NIỆM BOM – BỘ ĐỊNH MỨC TRONG SẢN XUẤT</li>
                <li class="time"> Các doanh nghiệp sản xuất, muốn quản trị hiệu quả việc sản xuất của mình cần xây dựng và phát triển và ứng dụng bộ định mức triệt để. Đặc biệt là việc ứng dụng hệ thống ERP vào doanh việc quản lý vận hành của mình, doanh nghiệp cần					 </li>
              </ul>
            </div>
            
            
            <div class="card-img" style="background-image: url('https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')" title="Unsplash Image">
            </div>
            
            
            <div class="card-footer">
              <ul>
                <li>
                  <span >morgen-gams</span>
                </li>
                </ul>
            </div>
            
          </div>
          <div class="card">
          
            <div class="profile">
              <span class="profile-img"></span>
              
              <ul class="username">
                <li class="name"> BOM LÀ GÌ? KHÁI NIỆM BOM – BỘ ĐỊNH MỨC TRONG SẢN XUẤT</li>
                <li class="time"> Các doanh nghiệp sản xuất, muốn quản trị hiệu quả việc sản xuất của mình cần xây dựng và phát triển và ứng dụng bộ định mức triệt để. Đặc biệt là việc ứng dụng hệ thống ERP vào doanh việc quản lý vận hành của mình, doanh nghiệp cần					 </li>
              </ul>
            </div>
            
            
            <div class="card-img" style="background-image: url('https://images.unsplash.com/photo-1643725173053-ed68676f1878?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')" title="Unsplash Image">
                <!--           <img src="https://images.unsplash.com/photo-1558961363-fa8fdf82db35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80" alt="Unsplash"> -->
                      </div>
            
            
            <div class="card-footer">
              <ul>
                <li>
                  <span >morgen-gams</span>
                </li>
                </ul>
            </div>
            
          </div>
          <div class="card">
          
            <div class="profile">
              <span class="profile-img"></span>
              
              <ul class="username">
                <li class="name"> BOM LÀ GÌ? KHÁI NIỆM BOM – BỘ ĐỊNH MỨC TRONG SẢN XUẤT</li>
                <li class="time"> Các doanh nghiệp sản xuất, muốn quản trị hiệu quả việc sản xuất của mình cần xây dựng và phát triển và ứng dụng bộ định mức triệt để. Đặc biệt là việc ứng dụng hệ thống ERP vào doanh việc quản lý vận hành của mình, doanh nghiệp cần					 </li>
              </ul>
            </div>
            
            
            <div class="card-img" style="background-image: url('https://images.unsplash.com/photo-1541823709867-1b206113eafd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')" title="Unsplash Image">
            </div>
            
            
            <div class="card-footer">
              <ul>
                <li>
                  <span >morgen-gams</span>
                </li>
                </ul>
            </div>
            
          </div>
      
     

      
      <div class="card">
  
          <div class="profile">
            <span class="profile-img"></span>
  
            <ul class="username">
              <li class="name"> Katheline Jennifer </li>
              <li class="time"> 4 hour ago </li>
            </ul>
          </div>
  
  
          <div class="card-img" style="background-image: url('https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')" title="Unsplash Image">
          </div>
  
  
          <div class="card-footer">
            <ul>
              <li>
                <span class="overlay"></span>
                <span class="overlay-1"></span>
              </li>
              <li>
                <span class="overlay"></span>
                <span class="overlay-1"></span>
              </li>
              <li>
                <span class="overlay"></span>
                <span class="overlay-1"></span>
              </li>
            </ul>
          </div>
  
        </div>
      
    </article>
        
    <section class="left-sidebar" style="padding: 20px;">

        <div class="card">
          <h4 style="display: flex; align-items: center; justify-content: center; background-color:darkseagreen;">New post</h4>
          <div class="profile" style="align-items: center;">
            <span class="profile-img" style="width: 100% !important; height: 100% !important;">
              <img src="../../assets/THONG-BAO-NGHI-LE-OMEGA-2-150x150.png" alt="">
            </span>
            
            <ul class="username">
              <li class="name"> 24 Th3</li>	
              <li class="time"> [OMEGA.ERP]_THÔNG BÁO NGHỈ LỄ GIỖ TỔ HÙNG VƯƠNG, 30/04 VÀ 01/05/2023.		 </li>
            </ul>
          </div>
          <hr>
          <div class="profile" style="align-items: center;">
            <span class="profile-img" style="width: 100% !important; height: 100% !important;">
              <img src="../../assets/THONG-BAO-NGHI-LE-OMEGA-2-150x150.png" alt="">
            </span>
            
            <ul class="username">
              <li class="name"> 24 Th3</li>	
              <li class="time"> [OMEGA.ERP]_THÔNG BÁO NGHỈ LỄ GIỖ TỔ HÙNG VƯƠNG, 30/04 VÀ 01/05/2023.		 </li>
            </ul>
          </div>
          <hr>
          <div class="profile" style="align-items: center;">
            <span class="profile-img" style="width: 100% !important; height: 100% !important;">
              <img src="../../assets/THONG-BAO-NGHI-LE-OMEGA-2-150x150.png" alt="">
            </span>
            
            <ul class="username">
              <li class="name"> 24 Th3</li>	
              <li class="time"> [OMEGA.ERP]_THÔNG BÁO NGHỈ LỄ GIỖ TỔ HÙNG VƯƠNG, 30/04 VÀ 01/05/2023.		 </li>
            </ul>
          </div>
          <hr>
          <div class="profile" style="align-items: center;">
            <span class="profile-img" style="width: 100% !important; height: 100% !important;">
              <img src="../../assets/THONG-BAO-NGHI-LE-OMEGA-2-150x150.png" alt="">
            </span>
            
            <ul class="username">
              <li class="name"> 24 Th3</li>	
              <li class="time"> [OMEGA.ERP]_THÔNG BÁO NGHỈ LỄ GIỖ TỔ HÙNG VƯƠNG, 30/04 VÀ 01/05/2023.		 </li>
            </ul>
          </div>

          
        </div>
        <div class="card">
          <h4 style="display: flex; align-items: center; justify-content: center; background-color:darkseagreen;">Requirement</h4>

          <div class="profile">
            <span class="profile-img"></span>
            
            <ul class="username">
              <li class="name"> BOM LÀ GÌ? KHÁI NIỆM BOM – BỘ ĐỊNH MỨC TRONG SẢN XUẤT</li>
              <li class="time"> Các doanh nghiệp sản xuất, muốn quản trị hiệu quả việc sản xuất của mình cần xây dựng và phát triển và ứng dụng bộ định mức triệt để. Đặc biệt là việc ứng dụng hệ thống ERP vào doanh việc quản lý vận hành của mình, doanh nghiệp cần					 </li>
            </ul>
          </div>
          
          
          <div class="card-img" style="background-image: url('https://images.unsplash.com/photo-1541823709867-1b206113eafd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')" title="Unsplash Image">
          </div>
          
          
          <div class="card-footer">
            <ul>
              <li>
                <span >morgen-gams</span>
              </li>
              </ul>
          </div>
          
        </div>
    </section>
    
  </main>