

  <div class="overlay"></div>
  
  <div class="utility-nav d-none d-md-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="small"><i class="bx bx-envelope"></i> logo@example.com | <i class="bx bx-phone"></i> +91-9876543210
          </p>
        </div>
  
        <div class="col-12 col-md-6 text-right">
          <p class="small">Hotline: 0908 303 609</p>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-expand-md navbar-light bg-light main-menu" style="box-shadow:none">
    <div class="container">
  
      <button type="button" id="sidebarCollapse" class="btn btn-link d-block d-md-none">
                  <i class="bx bx-menu icon-single"></i>
              </button>
  
      <a class="navbar-brand" href="#">
        <h4 class="font-weight-bold"><img src="../../assets/logo-2.png" alt="logo" width="140px"></h4>
      </a>
  
  
  
      <div class="collapse navbar-collapse">
    
        <ul class="navbar-nav">
  
          <li class="nav-item ml-md-3">
            <a class="btn btn-primary" routerLink="/contact"><i class="bx bxs-user-circle mr-1"></i> Liên hệ dùng thử</a>
          </li>
        </ul>
      </div>
  
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-md navbar-light bg-light sub-menu" style="background-color:#00a95a !important ; color: white !important;;">
  
    <div class="container">
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Trang chủ <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/client" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Khách hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/support" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hỗ trợ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" routerLink="/Consultant" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tư vấn – Triển khai
                          </a>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/newsfeed" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tin tức
                          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  routerLink="/insider">Tin tức nội bộ</a>
              <a class="dropdown-item"  routerLink="/requirment">Tuyển dụng</a>
            </div>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tải xuống
                            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/images/myw3schoolsimage.jpg" download>Văn bản chính sách Kế toán – Thuế</a>
                <a class="dropdown-item" href="/images/myw3schoolsimage.jpg" download>Hướng dẫn hỗ trợ phần mềm</a>
              </div>
            </li>
          
        </ul>
      </div>
    </div>
  </nav>
  