<!-- footer design -->
<!-- Footer -->




<footer class="bg-white" style=" background-color: #333 !important;
color: white !important;
">
<div class="container py-5">
  <div class="row py-3">

    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4">Giới thiệu Omega</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Về chúng tôi</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Hỗ trợ</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Tư vấn – Triển khai</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Giới thiệu Omega
        </a></li>
      </ul>
    </div>

    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4">Sản phẩm</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Phần mềm kế toán chuyên nghiệp</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Phần mềm quản lý Đào Tạo</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Phần mềm quản lý hóa đơn</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Phần mềm quản lý khách hàng</a></li>
      </ul>
    </div>
    
    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4" style="  color: white !important;">Kết nối với Omega</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Tên công ty: CÔNG TY TNHH CÔNG NGHỆ & GIẢI PHÁP OMEGA</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">TTên tiếng Anh: Omega Solutions & Technologies Co., Ltd.</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Tên viết tắt: Omega</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Trụ sở chính: Lầu 6 - Tòa nhà Hà Sơn, số 277A Đường Nguyễn Văn Đậu, P. 11, Quận Bình Thạnh, TP.HCM</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4">Contact</h6>
      <ul class="list-unstyled mb-0">
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Tel: 028 3512 8448 | Fax: 028 3514 7280</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">Di động: 0908 303 609 (Mr. Nhân) - 0989 370 083 (Ms. Hoa)</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">info@omega.com.vn</a></li>
        <li class="mb-2"><a href="#" class="text-muted" style="  color: white !important;">OChi nhánh tại Hà Nội: Phòng 507 – B8, số 8A Hoàng Ngọc Phách, Ba Đình, Hà Nội</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 mb-lg-0">
      <h6 class="text-uppercase font-weight-bold mb-4" style="  color: white !important;">Registered Office Address</h6>
      <p class="text-muted mb-4" style="  color: white !important;">Here , write the complete address of the Registered office address along with telephone number.</p>
      <ul class="list-inline mt-4">
        <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab  fa-2x fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
        <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<hr class="p-0 m-0 b-0">


<div class="bg-light py-2">
  <div class="container text-center">
    <p class="text-muted mb-0 py-2" id="copyright" style="color: black !important;">&copy; Copyright 2023 Công ty Công Nghệ và Giải Pháp Omega"</p>
  </div>
  </div>

</footer>
<!-- Footer -->

<!-- sticky icon -->