
    <div class="Header" >
        <svg class="Header__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1337.97 684.43">
          <path class="Header__shape bigSquare" fill="#16d5d1" d="M546.519 349.271l86.383-56.098 56.097 86.383-86.383 56.098z"/>
          <circle class="Header__shape bigCircle" fill="#ff4676" cx="700.52" cy="162.17" r="50"/>
          <path class="Header__shape littleSquare" fill="#ffe430" d="M285.523 262.61l12.372-53.59 53.59 12.372-12.372 53.59z"/>
          <circle class="Header__shape hoop" fill="none" stroke="#ffe430" stroke-width="4" cx="905.52" cy="247.17" r="25"/>
          <circle class="Header__shape littleCircle" fill="#0f1c70"cx="1036.52" cy="203.17" r="27"/>
        </svg>
        <h3 class="Header__title">Client</h3>
      </div>
    
      <section class="testimonial text-center">
        <div class="container">

            <div class="heading white-heading" style="color: white;">
              CÂU CHUYỆN KHÁCH HÀNG THÀNH CÔNG
            </div>
            <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
             
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial4_slide">
                            <img src="../../assets/3551739.jpg" class="img-circle img-responsive" />
                            <p>“Công ty Nam Thái Sơn đã sử dụng phần mềm OMEGA.ERP 10 năm nay rồi. Đối với việc ứng dụng ERP không chỉ là phần mềm mà còn giải pháp và đồng hành, OMEGA đã làm tốt việc đó với chúng tôi. Ngoài việc đầy đủ các tính năng nghiệp vụ, OMEGA còn liên tục bổ sung các tiện ích mới, cải tiến chương trình và luôn luôn cùng chúng tôi đưa ra những giải pháp cải thiện hệ thống. Điều tôi ấn tượng nhất là việc khai thác báo cáo quản trị trên OMEGA, chúng tôi có thể phân tích số liệu và thiết lập thêm những biểu mẫu đáp ứng đòi hỏi HĐQT và Tổng giám đốc. Gần đây, OMEGA tích hợp App chạy trên điện thoại, do đó càng ngày, chúng tôi càng sử dụng dễ dàng hơn và sát sao hơn”.</p>
                            <h4>Mr Vân – Phó tổng giám đốc Công ty CP XNK Nam Thái Sơn</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="../../assets/8ezm_o3w4_140614.jpg" class="img-circle img-responsive" />
                            <p>“Thành Nam là kinh doanh ngành thép, trước đây chúng tôi đã triển khai 3 lần ERP nhưng đều thất bại. Kể từ khi gặp nhà cung cấp OMEGA, tôi đã quyết định lựa chọn giải pháp OMEGA.ERP để triển khai. Nay các vận hành từ sản xuất, kinh doanh, quản lý kho, mua hàng đều dùng phần mềm OMEGA.ERP, các bộ phận tương tác với nhau nhịp nhàng hơn. Báo cáo phân tích lãi lỗ và dòng tiền ở OMEGA.MC đã giúp tôi điều hành nhè nhàng hơn trước. Đặc biệt là hàng gia công, nay chúng tôi đã quản lý chặt chẽ và theo dõi chi tiết hơn. Không chỉ là phần mềm, OMEGA còn tận tình trong việc chăm sóc hỗ trợ, giải đáp các thắc mắc và đào tạo lại khi có sự thay đổi nhân sự. Lãnh đạo hai bên đã ngồi lại với nhau đánh giá hệ thống và cam kết gắng bó dài lâu.</p>
                            <h4>Mr. Cường – TGĐ Công ty CP Tập đoàn Thành Nam</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>
                              “Trước đây, chúng tôi quản lý các hợp đồng thầu, kho hàng, kinh doanh và kế toán bằng nhiều phần mềm rời rạc, do đó mất nhiều thời gian cho việc trích xuất báo cáo và quản lý các loại hàng. Từ khi ứng dụng giải pháp phần mềm OMEGA.ERP đã giải quyết tốt các yêu cầu của Vipharco, hệ thống giúp chúng tôi làm việc thuận lợi, các phòng ban kế thừa thông tin lẫn nhau, trước đây kiểm kê hàng tồn kho mất 2 ngày nhưng sau khi dùng phần mềm chỉ tốn 1,5 giờ, rút ngắn thời gian hoàn thành công việc đến 10 lần… cho nên tiết kiệm được thời gian, chi phí, nhân công. Đặc biệt hệ thống hỗ trợ các báo cáo phân tích thông minh (BI) giúp chúng tôi ra quyết định nhanh trong công tác điều hành”.</p>
                            <h4>Ms Thu – Giám đốc Công ty CP Dược phẩm Vipharco</h4>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>

      <!-- logo -->


<!-- <div class="container" style="height: 400px;">
    <h2>
        1,000+ KHÁCH HÀNG ĐÃ LỰA CHỌN OMEGA</h2> 
        <section class="customer-logos slider">
          <div class="slide"><img src="../../assets/lidovit-1.png"></div>
          <div class="slide"><img src="../../assets/thanh-nam.png"></div>
          <div class="slide"><img src="../../assets/lyprodan.png"></div>
          <div class="slide"><img src="../../assets/logo-2.png"></div>
          <div class="slide"><img src="../../assets/sasco.png"></div>
          <div class="slide"><img src="../../assets/Skypec.png"></div>
          <div class="slide"><img src="../../assets/tien-trien.png"></div>
          <div class="slide"><img src="../../assets/lidovit-1.png"></div>
          <div class="slide"><img src="../../assets/sasco.png"></div>
       </section>
</div> -->
<div class="slider">
  <h2>
    1,000+ KHÁCH HÀNG ĐÃ LỰA CHỌN OMEGA</h2>
  <div class="slide-track">
    <div class="slide">
      <img src="../../assets/lidovit-1.png">
    </div>
    <div class="slide">
      <img src="../../assets/thanh-nam.png">
    </div>
    <div class="slide">
      <img src="../../assets/sasco.png">
    </div>
    <div class="slide">
      <img src="../../assets/lidovit-1.png">
    </div>
    <div class="slide">
      <img src="../../assets/sasco.png">
    </div>
    <div class="slide">
      <img src="../../assets/Skypec.png">
    </div>
    <div class="slide">
      <img src="../../assets/Skypec.png">
    </div>
    <div class="slide">
      <img src="../../assets/lidovit-1.png">
    </div>
    <div class="slide">
      <img src="../../assets/thanh-nam.png">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/mcdonalds-black-logo.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/images/large/2x/starbucks-logo-black-and-white.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/general-electric-black-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/nfl-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/mercedes-benz-6-logo-png-transparent.png" alt="">
    </div>
    <div class="slide">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/hogwarts-logo-png-transparent.png" alt="">
    </div>
  </div>
</div>

<!-- contact card -->
<!-- ADVERTISERS SERVICE CARD -->
<section id="advertisers" class="advertisers-service-sec pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="section-header text-center">
          <h2 class="fw-bold fs-1">
            
            <span class="b-class-secondary">HÃY ĐỂ OMEGA ĐỒNG  </span>HÀNH CÙNG BẠN
          </h2>
          <p class="sec-icon"><i class="fa-solid fa-gear"></i></p>
        </div>
      </div>
      <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <img src="../../assets/icons8-hotline-50.png" alt="" width="40px">
            </div>
            <h3>HỖ TRỢ 24/7</h3>
            <p>
                Đội ngũ hỗ trợ chuyên nghiệp, luôn sẵn sàng phục vụ 7 ngày trong tuần. Để hỗ trợ Khách Hàng.
            </p>
          </div>
        </div>
  
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <img src="../../assets/call.png" alt="" width="40px">
            </div>
            <h3>HOTLINE 0908 303 609</h3>
            <p>
                Tổng đài tư vấn cho khách hàng OMEGA. Hãy gọi cho chúng tôi ngay khi lúc nào bạn cần.
            </p>
          </div>
        </div>
        <div class="col">
          <div class="service-card">
            <div class="icon-wrapper">
              <img src="../../assets/icons8-email.gif" alt="" width="40px">
            </div>
            <h3>E-MAIL: INFO@OMEGA.COM.VN</h3>
            <p>
                Mọi yêu cầu của khách hàng gửi về email của OMEGA, đều được giải quyết và trả lời một cách nhanh nhất.
            </p>
          </div>
        </div>
 
      </div>
    </div>
  </section>
  <!-- ADVERTISERS SERVICE CARD ENDED -->






