<section id="services" class="services section-bg">
   <div class="container-fluid">
     <div class="col-sm-12 text-center mb-4">
     </div>
      <div class="row row-sm">
         <div class="col-md-6 _boxzoom">
            <div class="zoom-thumb">
               <ul class="piclist">
                  <li><img src="../../../assets/erp-1.jpg" alt=""></li>
                  <li><img src="../../../assets/erp-1-removebg-preview.png" alt=""></li>
                  <li><img src="../../../assets/erp-1.jpg" alt=""></li>
                  <li><img src="../../../assets/erp-1-removebg-preview.png" alt=""></li>
               </ul>
            </div>
            <div class="_product-images">
               <div class="picZoomer">
                  <img class="my_img" src="https://s.fotorama.io/1.jpg" alt="">
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="_product-detail-content">
               <p class="_p-name"> HỆ THỐNG QUẢN TRỊ DOANH NGHIỆP</p>
               <div class="_p-price-box">
                  <div class="p-list">
                     <span> M.R.P. : <i class="fa fa-inr"></i> <del> 1399  </del>   </span>
                     <span class="price"> Rs. 699 </span>
                  </div>
                  <!-- <div class="_p-add-cart">
                     <div class="_p-qty">
                        <span>Add Quantity</span>
                        <div class="value-button decrease_" id="" value="Decrease Value">-</div>
                        <input type="number" name="qty" id="number" value="1" />
                        <div class="value-button increase_" id="" value="Increase Value">+</div>
                     </div>
                  </div> -->
                  <div class="_p-features">
                     <span> Description About this product:- </span>
                     Hệ thống Quản trị doanh nghiệp OMEGA.ERP là một phần mềm quản lý tổng thể các bộ phận trong một doanh nghiệp. Đáp ứng tất cả các nghiệp vụ từ khâu báo giá, đơn hàng, lập và duyệt yêu cầu mua hàng, quản lý nhân sự, tiền lương…                       
                  </div>
                  <form action="" method="post" accept-charset="utf-8">
                     <ul class="spe_ul"></ul>
                     <div class="_p-qty-and-cart">
                        <div class="_p-add-cart">
                           <button class="btn-theme btn buy-btn" tabindex="0">
                           <!-- <i class="fa fa-shopping-cart"></i> Buy Now -->
                           </button>
                           <button class="btn-theme btn btn-success" tabindex="0">
                           <!-- <i class="fa fa-shopping-cart"></i> Add to Cart -->
                           </button>
                           <input type="hidden" name="pid" value="18" />
                           <input type="hidden" name="price" value="850" />
                           <input type="hidden" name="url" value="" />    
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>