
<div class="Header" >
  <svg class="Header__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1337.97 684.43">
    <path class="Header__shape bigSquare" fill="#16d5d1" d="M546.519 349.271l86.383-56.098 56.097 86.383-86.383 56.098z"/>
    <circle class="Header__shape bigCircle" fill="#ff4676" cx="700.52" cy="162.17" r="50"/>
    <path class="Header__shape littleSquare" fill="#ffe430" d="M285.523 262.61l12.372-53.59 53.59 12.372-12.372 53.59z"/>
    <circle class="Header__shape hoop" fill="none" stroke="#ffe430" stroke-width="4" cx="905.52" cy="247.17" r="25"/>
    <circle class="Header__shape littleCircle" fill="#0f1c70"cx="1036.52" cy="203.17" r="27"/>
  </svg>
  <h3 class="Header__title">Consultant</h3>
</div>
  <!-- Hero 4 -->
  
  <section class="container px-4 my-5 py-5">
    <div class="row gx-5 flex-wrap-reverse">   
      <div class="col-lg-6 mt-5 mt-lg-0">
        <p class="lead">
            In parallel with the OMEGA.ERP ® Corporate Governance System, Omega Company has a team of experienced, professional implementation consultants who are well-versed in financial accounting and corporate governance.


        </p>
        <p>The work of the software implementation consultant is standardized into a process with clear steps to perform the work.

        </p>
        <h3>Consulting fields:

        </h3>
        <p>1. Apply changes of new Circulars and Decisions of the Ministry of Finance and the General Department of Taxation

            
         
        <p>            2. Implement accounting standards suitable to the characteristics of each enterprise.
        </p>
        <p>            3. Organize the accounting apparatus, rotate vouchers, build a code identification system and processes suitable to the application of IT in business management</p>
      </div>
      
      <div class="col-10 col-md-8 col-lg-6 d-flex align-items-center">
        <img src="../../assets/Quy-trinh-trien-khai-he-thong-2048x1096.png" class="img-fluid">
      </div>
    </div>
    
    
  </section>
  
  <div class="section-divider"></div>
  
     <!-- team -->
     <section>
        <h1 class="title">our team</h1>
        <div class="team-row">
            <div class="member">
                <img src="https://images.unsplash.com/photo-1520409364224-63400afe26e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="">
                <h2>ben smith</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum similique eligendi numquam.</p>
            </div>
            <div class="member">
                <img src="https://images.unsplash.com/photo-1480455624313-e29b44bbfde1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
                <h2>jason</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum similique eligendi numquam.</p>
            </div>
            <div class="member">
                <img src="https://miro.medium.com/max/814/1*Ri024ZNn0dtXQDmswflYFw.jpeg" alt="">
                <h2>chris jones</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum similique eligendi numquam.</p>
            </div>
        </div>
        <div class="team-row">
            <div class="member">
                <img src="https://images.unsplash.com/photo-1520409364224-63400afe26e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="">
                <h2>ben smith</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum similique eligendi numquam.</p>
            </div>
            <div class="member">
                <img src="https://images.unsplash.com/photo-1480455624313-e29b44bbfde1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
                <h2>jason</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum similique eligendi numquam.</p>
            </div>
            <div class="member">
                <img src="https://miro.medium.com/max/814/1*Ri024ZNn0dtXQDmswflYFw.jpeg" alt="">
                <h2>chris jones</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum similique eligendi numquam.</p>
            </div>
        </div>
    </section>

    <!-- stepscard -->
    
        <div class="container">
            <h2 style="display: flex; align-items: center; justify-content: center;">CÁC BƯỚC TRIỂN KHAI HỆ THỐNG OMEGA.ERP</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="road-map-main">
                <div class="road-map-wrapper">
                  <div class="road-map-circle">
                    <span
                      class="road-map-circle-text d-flex align-items-center justify-content-center"
                      >BƯỚC 1</span
                    >
                  </div>
                  <div class="road-map-card">
                    <h4 class="card-head">KHỞI TẠO DỰ ÁN</h4>
                    <p class="card-text">
                        Bổ nhiệm nhân lực hai bên tiến hành bổ nhiệm nhân sự tham gia dự án, gồm có trưởng dự án (TDA) và các thành viên.
                    </p>
                    <p class="card-text">
                        Kế hoạch tổng quan lập kế hoạch triển khai, mô tả tổng quan tiến trình các bước thực hiện. Chỉ rõ kết quả cần đạt được ở các giai đoạn.
                    </p>
                  </div>
                </div>
                <div class="road-map-wrapper">
                  <div class="road-map-circle">
                    <span
                      class="road-map-circle-text d-flex align-items-center justify-content-center"
                      >BƯỚC 2</span
                    >
                  </div>
                  <div class="road-map-card">
                    <h4 class="card-head">KHẢO SÁT HỆ THỐNG</h4>
                    <p class="card-text">
                        Khảo sát phần cứng hệ thống máy tính, mạng nội bộ, đường truyền,…
                    </p>
                    <p class="card-text">
                        Khảo sát nghiệp vụ làm rõ các vấn đề về tổ chức hạch toán, tổ chức luân chuyển chứng từ, phương pháp hạch toán, định dạng và chỉ tiêu báo cáo …                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="road-map-main">
                <div class="road-map-wrapper">
                  <div class="road-map-circle">
                    <span
                      class="road-map-circle-text d-flex align-items-center justify-content-center"
                      >BƯỚC 3</span
                    >
                  </div>
                  <div class="road-map-card">
                    <h4 class="card-head">TƯ VẤN GIẢI PHÁP</h4>
                    <p class="card-text">
                        Trên cơ sở dữ liệu nắm bắt ở bước khảo sát, ban dự án hai bên tiến hành họp bàn để thông qua các giải pháp về đặt mã, luân chuyển dữ liệu, nguyên tắc hạch toán, biểu mẫu báo cáo,…
                    </p>
                    <p class="card-text">
                        Và cuối cùng là soạn thảo thành tài liệu giải pháp ứng dụng phần mềm vào công tác quản lý.                    </p>
                  </div>
                </div>
                <div class="road-map-wrapper">
                  <div class="road-map-circle">
                    <span
                      class="road-map-circle-text d-flex align-items-center justify-content-center"
                      >BƯỚC 4</span
                    >
                  </div>
                  <div class="road-map-card">
                    <h4 class="card-head">ĐÀO TẠO CHI TIẾT</h4>
                    <p class="card-text">
                        Tiến hành cài đặt phần mềm OMEGA.ERP® chi tiết các phân hệ đúng với giải pháp đề ra.
                    </p>
                    <p class="card-text">
                        Công ty Omega đào tạo chi tiết từng nhân sự về các nghiệp vụ số dư, phát sinh, xử lý số liệu và truy vấn các báo cáo đã thống nhất ở Bước 3. Đào tạo chuyên sâu về khai thác báo cáo quản trị và chỉnh sửa biểu mẫu báo cáo                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="road-map-main">
                <div class="road-map-wrapper">
                  <div class="road-map-circle">
                    <span
                      class="road-map-circle-text d-flex align-items-center justify-content-center"
                      >BƯỚC 5</span
                    >
                  </div>
                  <div class="road-map-card">
                    <h4 class="card-head">KIỂM THỬ</h4>
                    <p class="card-text">
                        Các quy trình tác nghiệp tiêu biểu được lựa chọn để đưa vào thử nghiệm trong chương trình. Các bút toán sẽ được lần lượt nhập vào và được kiểm tra về tính chính xác.
                    </p>
                    <p class="card-text">
                        Sau đó các chuyên viên tư vấn Omega cùng với nhân sự của khách hàng kiểm tra tính chính xác của số liệu, tinh chỉnh một số biểu mẫu báo cáo.                    </p>
                  </div>
                </div>
                <div class="road-map-wrapper">
                  <div class="road-map-circle">
                    <span
                      class="road-map-circle-text d-flex align-items-center justify-content-center"
                      >BƯỚC 6</span
                    >
                  </div>
                  <div class="road-map-card">
                    <h4 class="card-head">NGHIỆM THU - CHUYỂN GIAO</h4>
                    <p class="card-text">
                        Sau khi việc chạy thử đã đạt kết quả tốt, hai bên tiến hành nghiệm thu. Công ty Omega sẽ bàn giao chương trình và các tài liệu cần thiết cho khách hàng.
                    </p>
                    <p class="card-text">
                        Bảo hành Thời gian bảo hành sẽ được tính kể từ khi hai bên ký nghiệm thu hệ thống. Chi tiết về công việc bảo trì được quy định trong hợp đồng.                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
