<div class="Header" >
   <svg class="Header__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1337.97 684.43">
     <path class="Header__shape bigSquare" fill="#16d5d1" d="M546.519 349.271l86.383-56.098 56.097 86.383-86.383 56.098z"/>
     <circle class="Header__shape bigCircle" fill="#ff4676" cx="700.52" cy="162.17" r="50"/>
     <path class="Header__shape littleSquare" fill="#ffe430" d="M285.523 262.61l12.372-53.59 53.59 12.372-12.372 53.59z"/>
     <circle class="Header__shape hoop" fill="none" stroke="#ffe430" stroke-width="4" cx="905.52" cy="247.17" r="25"/>
     <circle class="Header__shape littleCircle" fill="#0f1c70"cx="1036.52" cy="203.17" r="27"/>
   </svg>
   <h3 class="Header__title">Products List</h3>
 </div>

 <div class="container">
  <div class="container-inner">
    <div class="main-content">
      <div class="main-headings" id="main-headings-js">
      <p id="by-line">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

      <div class="heading">
        <h3 id="heading1">HỆ THỐNG QUẢN </h3>
        <h3 id="heading2">TRỊ DOANH NGHIỆP –</h3>
        <h1 id="heading3">OMEGA.ERP</h1>
      </div>

      <div class="short-bio">
<p>Hệ thống Quản trị doanh nghiệp OMEGA.ERP là một phần mềm quản trị tổng thể các bộ phận trong một doanh nghiệp. Đáp ứng tất cả các nghiệp vụ từ khâu báo giá, đơn hàng, lập và duyệt yêu cầu mua hàng, quản lý nhân sự, tiền lương,.. cho đến việc theo dõi kế toán, báo cáo phân tích lãi lỗ, phân tích tài chính.</p>   
      </div>

      <a class="link" onclick="readMore()">Read More</a>
      </div>
      
      <div class="more-info " id="more-info-js">
        
        <h4>Lorem ipsum dolor sit.</h4>
<p>Cho đến nay, có hàng ngàn doanh nghiệp trong và ngoài nước tin dùng sản phẩm OMEGA.ERP. Có đầy đủ doanh nghiệp về các lĩnh vực sản xuất và thương mại Cơ Khí, Dệt May, Thép, Bất Động Sản, Nông Nghiệp …

</p>        
        
<p>Điểm khác biệt của việc triển khai OMEA.ERP đó là tập trung sâu vào tính quản trị và thống nhất giải pháp ứng dụng trước khi triển khai chi thiết thực tế.

</p>      </div>
      
    </div>

    <div class="image-wrapper">
    <div class="image-container">
      <img class="image" src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=755bbb2b0afd5808494a8723774cd141" alt="image of a young woman.">
    </div>
  </div>
</div>
</div>
 <!-- products page  -->
 <div class="products fadeInRight title">
  <h2 style="display: flex; width:100%;align-items: center; justify-content: center; color: black !important;">
      CÁC SẢN PHẨM CỦA OMEGA
  </h2>
  <div class="product_card">

    
      <div class="card">

          <div class="imgBox">
            <a routerLink="/productview">

            <img src="../../assets/erp-1-removebg-preview.png" alt="mouse corsair" class="mouse" width="100px">
            </a>
          </div>
        
          <div class="contentBox">
              <a href="#" class="buy">HỆ THỐNG QUẢN TRỊ DOANH NGHIỆP</a>
              <p>Hệ thống Quản trị doanh nghiệp OMEGA.ERP là một phần mềm quản lý tổng thể các bộ phận trong một doanh nghiệp. Đáp ứng tất cả các nghiệp vụ từ khâu báo giá, đơn hàng, lập và duyệt yêu cầu mua hàng, quản lý nhân sự, tiền lương…</p>
          </div>
        
        </div>  
        
        <div class="card">

          <div class="imgBox">
            <a routerLink="/productview">

            <img src="../../assets/erp-1-removebg-preview.png" alt="mouse corsair" class="mouse" width="100px">
            </a>
          </div>
        
          <div class="contentBox">
              <a href="#" class="buy">HỆ THỐNG QUẢN LÝ ĐÀO TẠO</a>
              <p>Phần mềm Quản lý đào tạo OMEGA.EDU được xây dựng trên công nghệ tân tiến và hiện đại, chạy tốt trên nhiều nền tảng của các hệ điều hành Windows 32bit hoặc 64bit (tương thích với Windows XP, Windows Vista hoặc Windows 7).</p>
          </div>
        
        </div>  
        
        <div class="card">

          <div class="imgBox">
            <a routerLink="/productview">

            <img src="../../assets/erp-1-removebg-preview.png" alt="mouse corsair" class="mouse" width="100px">
            </a>
          </div>
        
          <div class="contentBox">
              <a href="#" class="buy">HỆ THỐNG QUẢN TRỊ NHÂN LỰC</a>
              <p>Phần mềm OMEGA.HRM là một hệ thống chuyên sâu về quản lý nhân sự, phần mềm giúp người quản trị có thể đánh giá hiệu quả làm việc của nhân viên, quản lý hợp đồng lao động, quản lý bảo hiểm xã hội, phép năm, chấm công và tính lương…</p>
          </div>
        
        </div>  
        
         <div class="card">

          <div class="imgBox">
            <a routerLink="/productview">

            <img src="../../assets/erp-1-removebg-preview.png" alt="mouse corsair" class="mouse" width="100px">
            </a>
          </div>
        
          <div class="contentBox">
              <a href="#" class="buy">PHẦN MỀM QUẢN LÝ HÓA ĐƠN</a>
              <p>Phần mềm OMEGA.INVOICE – Phần mềm quản lý hóa đơn được thiết kế tinh gọn, đơn giản và dễ sử dụng, đáp ứng đầy đủ các nghiệp vụ đăng ký, phát hành, quản lý và các loại báo cáo hóa đơn, dễ dàng sử dụng và quản lý</p>
          </div>
        
        </div>   
        
        <div class="card">

          <div class="imgBox">
            <a routerLink="/productview">

            <img src="../../assets/erp-1-removebg-preview.png" alt="mouse corsair" class="mouse" width="100px">
            </a>
          </div>
        
          <div class="contentBox">
              <a href="#" class="buy">PHẦN MỀM QUẢN LÝ KHÁCH HÀNG</a>
              <p>Phần mềm OMEGA.CRM là một giải pháp quản lý các mối quan hệ, giao dịch với khách hàng, được viết trên nền web. Phần mềm này phù hợp với những doanh nghiệp kinh doanh bán hàng mà việc giao dịch bán hàng được diễn ra thời gian ngắn.</p>
          </div>
        
        </div>  
        
         <div class="card">

          <div class="imgBox">
            <a routerLink="/productview">

            <img src="../../assets/erp-1-removebg-preview.png" alt="mouse corsair" class="mouse" width="100px">
            </a>
          </div>
        
          <div class="contentBox">
              <a href="#" class="buy">PHẦN MỀM KẾ TOÁN CHUYÊN NGHIỆP</a>
              <p>Bên cạnh sản phẩm cho doanh nghiệp lớn như phần mềm OMEGA.ERP, Công ty Omega thấu hiểu sâu sắc về nghiệp vụ kế toán cho các doanh nghiệp vừa và nhỏ.Vì thế, đã cho ra đời sản phẩm Phần mềm Kế toán chuyên nghiệp GAMA.SMB</p>
          </div>
        
        </div> 
</div>
</div>